*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/.cxx
/app/src/main/assets/merged_assets
/app/src/test/resources/
/app/src/androidTest/resources/
/app/generated/
/gradle-wrapper.jar
*.ap_
*.apk
*.aab
*.aar
*.dex
*.class
.log
lint-results